<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>使用ajax检测用户名</title>
</head>
<body>
    <h2>注册用户</h2>
    <form action="" method="">
        <ul>
            <li>
                <label for="">用户名：</label>
                <input type="text" name="username" id="user"> <span id="msg"></span>
            </li>
            <li>
                <label for="">密码：</label>
                <input type="text" name="password">
            </li>
            <li>
                <label for="">确认密码：</label>
                <input type="text" name="repassword">
            </li>
            <li>
                <label for=""></label>
                <input type="submit" value="注册">
            </li>
        </ul>
    </form>
</body>
<script>
    // 获取input框 
    let input = document.querySelector("#user")
    let span = document.querySelector("#msg")
    // 注册blur事件
    input.onblur = function(){
        // this 事件源
        let username = this.value;
        // 第一步：创建xhr对象   new讲到js高级时会讲到
        let xhr = new XMLHttpRequest();
        // 第二步：建立和服务端的连接  此时还没有发出请求
        xhr.open("get","/check?username="+username);
        // 第三步：监听返回结果的变化状态
        xhr.onreadystatechange = function(){
            if(xhr.readyState == 4 && xhr.status == 200){
                span.innerHTML = xhr.responseText; // 服务器返回的数据
            }
        }
        // 第四不：发起请求
        xhr.send(null);  // null表示没有请求体
    }
    console.log("...")
</script>
</html>