<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>传统不分页显示新闻列表</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        ul{
            list-style-type: none;
        }
        body{
            background-color: #ccc;
        }
        .wrapper{
            width: 980px;
            background-color: #fff;
            margin: 20px auto;
        }
        .wrapper h1{
            text-align: center;
            width: 900px;
            border-bottom: 1px solid #ccc;
            padding: 10px 0;
            margin: 0 auto;
        }
        .wrapper li{
            padding: 10px;
            height: 70px;
            margin-bottom: 10px;
        }
        .wrapper li h2{

        }
        .wrapper li h2 a{
            color: #000;
            text-decoration: none;
        }
        .wrapper .time, .wrapper .summary{
            font-size: 12px;
            color: #666;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <h1>新闻列表（不分页）</h1>
        <ul>
            <% for(var i=0; i<data.length; i++){ %>
            <li>
                <h2><a href=""><%= data[i].title %></a></h2>
                <p class="time"><%= data[i].time %></p>
                <p class="summary"><%= data[i].summary %></p>
            </li>
            <% } %>
        </ul>
    </div>
</body>
</html>