@charset "utf-8"; 
/* 告诉浏览器 CSS文件使用的编码是utf-8 */

/* 页面的重置样式 start */
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}
body {
    color: #3C3C3C;
    -webkit-font-smoothing: antialiased;  /*让文字在浏览器中显示得更圆滑*/
    background-color: #f1f1f1;
    overflow-x:hidden;
    height:2000px;
}
body, button, input, select, textarea {
    font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    /*font: font-style font-weight font-size/line-height font-family*/
}
a{
	color:#6c6c6c;
	font-size:12px;
	text-decoration: none;
}
a:hover{
	color:#f40;
	text-decoration: none;
}
.tbcheng{
	color:#ff4400;
}
.cheng{
	color:#f22e00;
}
.anhong{
	color:#c60000;
}
/*图标字体*/
@font-face {font-family: 'icon';
    src: url('font/iconfont.eot'); /* IE9*/
    src: url('font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
@font-face {font-family: 'iconfont';
    src: url('iconfont/iconfont.eot'); /* IE9*/
    src: url('iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.icon{
	font-family:'icon';
}
.iconfont{
	font-family: 'iconfont';
}
/* 页面的重置样式 end */


/*  top 区域的  start */
.user-nav-wrapper{
    width: 100%;
    height: 35px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #eee;
}
.user-nav-wrapper .user-nav{
    width: 1190px;  /* 版心 */
    height: 35px;
    line-height: 35px;
    /* background-color: pink; */
    margin: 0 auto;
}
.user-nav-wrapper .user-nav-left{  }
.user-nav-wrapper .user-nav-left li{
    float: left;
    padding: 0 6px;
}
.user-nav-wrapper .user-nav-left li a{
    margin-right: 7px;
}
.user-nav-wrapper .user-nav-right{
    float: right;
}
.user-nav-wrapper .user-nav-right li{
    float: left;
}
.user-nav-wrapper .user-nav-inner{
    padding: 0 6px;
    /* 目的是让inner压住下面的submenu */
    position: relative;
    z-index: 1000;
}
.user-nav-wrapper .user-nav-inner a{
    margin-right: 7px;
}
.user-nav-wrapper .user-nav-inner i{
    font-style: normal;
}

.user-nav-wrapper .user-nav-right li{
    position: relative; /* 参考点 */ 
}
.user-nav-wrapper .submenu{
    border: 1px solid #eee;
    background-color: #fff;
    border: 1px solid #eee;
    padding: 8px 0;
    /* 绝对定位  需要注意 z-index */
    position: absolute;
    left: 0;
    top: 34px;
    /* 999没有1000大   1000在前  999在后 */
    z-index: 999;
    display: none;
}
.user-nav-wrapper .submenu a{
    padding: 0 5px;
    line-height: 28px;
    display: block;
    /* 文字不换行 */   
    white-space: nowrap;
}
.user-nav-wrapper .submenu a:hover{
    background-color: #f5f5f5;
    color: #6c6c6c;
}

.user-nav-wrapper .active .user-nav-inner{
    background-color: #fff;
    /* 加上边框导航盒子在页面上的占据的大小变大 */
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    /* 把之前6px的padding变成5px 保证它在页面上占据的大小不变 */
    padding: 0 5px;
}
.user-nav-wrapper .active .submenu{
    display: block;
}
.user-nav-wrapper .cart{
	width:307px;
	height:46px;
	line-height:46px;
	border:1px solid #eee;
	text-align:right;
	background:#fff;
}
.user-nav-wrapper .cart a{
	display:inline;
	padding:6px;
	background-color:#f40;
	color:white;
	-webkit-border-radius:2px;
	border-radius:2px;
	margin-right:6px;
}
.user-nav-wrapper .active .user-nav-inner i{
	color:#f40;
}
.user-nav-wrapper .sitemap{
    /* right是0 left是auto  auto表示尽可能大 */
	right:0;
	left:auto;
}
/*  top 区域的  end */

/* top_ad 区域的 start */
.top_ad{
    width: 100%;
    height: 45px;
    position: relative;
    background-color: #26479c;
}
.top_ad img{
    position: absolute;
    left: 50%;
    /* 1190px  */
    margin-left: -595px;
}
/* top_ad 区域的 end */

/* logo + 搜索区域 区域的 start */
.search-wraper{
    width: 100%;
    height: 100px;
    padding-top: 30px;
    padding-bottom: 34px;
    background-color:#fff;
}
.search-wraper .search-center{
    width: 1190px;
    margin: 0 auto;
    height: 100px;
    /* background-color: gold; */
}
.search-wraper .search-box1{
    width: 625px;
    height: 90px;
    margin-left: 265px;
    margin-right: 300px;
    position: relative;
    /* background-color: pink; */
}
.search-wraper .search-box2{
    width: 625px;
    height: 65px;
    /* background-color: gold; */
    /* 参考点 */
    position: relative;
}
.search-wraper .search-gaoji{
    position: absolute;
    top:26px;
    right: -30px;
}
.search-wraper .search-tab{
    overflow: hidden;
}
.search-wraper .search-tab li{
    float: left;
    width: 50px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #f40;
    cursor: pointer;
}
.search-wraper .search-tab li.on{
    color: #fff;
    background-color: #f40;
    font-weight: bold;
}
/* li.on.tmall 表示li上面有on 还有tmall */
.search-wraper .search-tab li.on.tmall{
    background-color: #c40000;
}

.search-wraper .search-box3{
    width: 622px;
    height: 34px;
    background-color: #f40;
    padding: 3px 0 3px 3px;
    /* 参考点 */
    position: relative;
}
#q{
    width: 464px;
    height: 22px;
    padding: 6px 0px 6px 8px;
    /* border: 0 none;  去掉input默认的边框 */
    border: 0 none;
    /* outline: 0 none; 去掉输入框获取焦点时的边框 */
    outline: 0 none;
    float: left;
}
#search-btn{
    float: left;
    width: 150px;
    height: 34px;
    background-color: #f40;
    border: 0 none;
    outline: 0 none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.search-wraper .search-example{
    width: 625px;
    height: 25px;
    line-height: 25px;
    /* 参考点 */
    position: relative;
}
.search-wraper .search-example a{
    margin-right: 8px;
}
.search-wraper .search-example a.more{
    position: absolute;
    top: 0px;
    right: 0px;
}
.search-wraper .search-example a.more:after{
    content: '\e61a';
    /* 不要把&#xe61a;当成字符串，要当成字体图标 */
    font-family: iconfont;
    position: absolute;
    right: -10px;
    top: 0;
}
.search-wraper .tb-example{
    width: 625px;
    height: 25px;
}
.search-wraper .tb-example{
    /* 默认情况下让tb-example显示 */
    display: block;
}
.search-wraper .tmall-example{
     /* 默认情况下让tmall-example隐藏掉 */
     display: none;
}
/* ============= 如果有tianmao这个类 使用新的一套样式 ====== */
.search-wraper .tianmao .tb-example{
    /* 如果有tianmao这个类，让tb-example隐藏 */
    display: none;
}
.search-wraper .tianmao .tmall-example{
     /* 如果有tianmao这个类，让tmall-example显示 */
     display: block;
}
.search-wraper .tianmao .search-box3{
    background-color: #c60000;
}
.search-wraper .tianmao #search-btn{
    background-color: #c60000;
}
/* ============== end */
.search-wraper .tb .search-box3 .baobei{
    display: block;
    position: absolute;
    top: 11px;
    left: 26px;
}
.search-wraper .tb .search-box3 .tmall{
    display: none;
}
.search-wraper .tianmao .search-box3 .tmall{
    display: block;
    position: absolute;
    top: 11px;
    left: 26px;
}
.search-wraper .tianmao .search-box3 .baobei{
    display: none;
}
.search-wraper .dianpu .search-box3 .tmall{
    display: none;
}
.search-wraper .dianpu .search-box3 .baobei{
    display: none;
}
.search-wraper .dianpu .search-box3 .dianpu{
    display: none;
}
.search-wraper .search-box3 em{
    font-style: normal;
    position: absolute;
    top: 12px;
    left: 10px;
}
.search-wraper .search-box3 i{
    display: none;
}
.search-wraper .tb .search-box3 i{
    display: block;
    font-style: normal;
    position: absolute;
    top: 12px;
    right: 158px;
}
/* logo + 搜索区域 区域的 end */