<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>所有的订单信息</title>
    <style>
        *{ margin: 0; padding: 0; }
        ul{ list-style-type: none; }
        .box{
            width: 400px;
            height: 400px;
            border: 1px solid red;
            margin: 50px auto;
        }
        .box{
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="box">
        <a href="/">订餐入口</a>
        <h1>所有的订单信息如下：</h1>
        <ul>
            <!-- <li><a href="#">123456789</a></li>
            <li><a href="#">123456789</a></li>
            <li><a href="#">123456789</a></li>
            <li><a href="#">123456789</a></li>
            <li><a href="#">123456789</a></li> -->
            <% for(let i=0; i<all.length; i++){ %>
                <li><a href="/order/<%= all[i] %>"><%= all[i] %></a></li>
            <% } %>
        </ul>
        
    </div>
</body>
</html>